<div class="text-center container py-2">
  <h1>Titulo</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloribus
    modi doloremque. Nisi porro necessitatibus omnis placeat illo rerum ipsum
    architecto sequi ipsam rem ullam suscipit veniam, natus non dignissimos!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    voluptatum sit dolor nesciunt accusantium pariatur iste dignissimos
    perspiciatis placeat. Nesciunt repellat quia maiores, aliquam ullam delectus
    quidem sit nisi dolores. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Dignissimos architecto culpa, quae optio quod odio dolores eveniet
    mollitia maxime! Repellat ab aspernatur molestiae nesciunt harum veniam quos
    nisi odio minima?
  </p>
  <img
    src="https://cdn-icons-png.flaticon.com/512/468/468833.png"
    class="img-fluid"
    width="260px"
  />
</div>

<div class="container">
  <button class="btn btn-primary">Cargar Comentarios</button>
  <p>180 Comentarios</p>
  <div class="d-flex align-items-start">
    <img
      src="https://st3.depositphotos.com/3538469/15750/i/450/depositphotos_157501024-stock-photo-business-man-icon.jpg"
      class="img-fluid rounded-3 me-2"
      width="45px"
    />
    <div>
      <p class="m-0 text-primary fw-bold">Nombre usuario</p>
      <span>Hace 7 horas</span>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
        excepturi, nobis alias totam obcaecati molestias natus nostrum pariatur
        magni odio laboriosam beatae dolorum asperiores rerum officiis veniam
        molestiae maxime fugit.
      </p>
    </div>
  </div>
</div>
