<div style="overflow-y: scroll; height: 100%">
  @if (publicacion) {
  <div class="text-center container py-2">
    <h1>{{ publicacion.titulo }}</h1>

    <p>
      {{ publicacion.contenido }}
    </p>
    <img
      src="https://cdn-icons-png.flaticon.com/512/468/468833.png"
      class="img-fluid"
      width="260px"
    />
  </div>

  <div class="container">
    <button
      class="btn btn-primary"
      (click)="clickCargarComentarios(publicacion.publicacion_id || 0)"
    >
      Cargar Comentarios
    </button>
    <p>{{ publicacion.c_comentario }} Comentarios</p>

    <div [ngClass]="{ 'd-none': boolContenido }">
      <form
        [formGroup]="form"
        (ngSubmit)="submit(publicacion.publicacion_id || 0)"
      >
        <textarea
          id="contenido"
          class="form-control mb-2"
          formControlName="contenido"
          rows="1"
          style="overflow: hidden"
          oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"
        ></textarea>
        <button class="btn btn-primary mb-3">Enviar</button>
      </form>
      @if (comentarios) { @for (comentario of comentarios; track
      comentario.comentario_id) {
      <div class="d-flex align-items-start mb-2">
        <!-- avatar -->
        <div
          style="
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 10px;
            margin-top: 10px;
          "
        >
          <img src="{{ comentario.usuario?.avatar }}" height="40px" />
        </div>
        <!-- contenido -->
        <div class="d-flex flex-column align-items- w-75">
          <div>
            <p class="fw-bold m-0 d-inline">{{ comentario.usuario?.nombre }}</p>
            <span style="font-size: 13px; color: #474646">{{
              comentario.createdAt || "" | dateFormat
            }}</span>
          </div>

          <p style="word-wrap: break-word">
            {{ comentario.contenido }}
          </p>
        </div>
      </div>

      } }
    </div>
  </div>

  }
</div>
