<form>
  <input type="text" class="form-control" formControlName="titulo" />
</form>

@if (usuarios) {
<div class="overflow-auto" style="height: 76%">
  @for (usuario of usuarios; track usuario.usuario_id ) {
  <div class="card rounded-0">
    <div class="card-body p-2">
      <img src="{{ usuario.avatar }}" width="50px" class="img-fluid" />
      <h5 class="card-title">{{ usuario.nombre }}</h5>
      <p class="card-text">{{ usuario.info }}</p>
      <p class="card-text m-0">publicaciones: 0</p>
      <p class="card-text m-0">amigos: 0</p>
    </div>
  </div>
  }
</div>

}
