<div class="container pt-2">
  <div class="d-flex justify-content-around">
    <div
      style="
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      "
    >
      <img
        src="https://media.vandal.net/m/10-2023/17/20231017163114_4.jpg"
        height="190px"
      />
    </div>
    <div class="w-75">
      <h2 class="h1">Rodrigo</h2>
      <p>rodrigogmail.com</p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi sequi
        temporibus enim nobis facilis dolore dicta autem nostrum quod provident
        cum sed iure explicabo magnam eveniet dolorum, ad illum consequatur.
      </p>
      <p class="h5">Reside</p>
      <p>El Agustino</p>
      <p class="h5">Estudios</p>
      <p>Desarrollo de Software - SENATI</p>
      <p class="h5">Redes Sociales</p>
      <a href="#" class="d-block">facebook.com</a>
      <a href="#" class="d-block">github.com</a>
      <a href="#" class="d-block">dsads.com</a>
      <a class="btn btn-primary">Ver Perfil</a>
    </div>
  </div>
</div>
