<nav>
  <ul class="m-0 pagination">
    <li class="page-item" style="width: 30%">
      <a
        class="page-link"
        (click)="seleccionarChat()"
        [ngClass]="{ active: boolChat }"
        [routerLink]="[
          { outlets: { primary: ['chat'], contenido: ['page-chat'] } }
        ]"
        >Chat</a
      >
    </li>
    <li class="page-item" style="width: 40%">
      <a
        class="page-link"
        (click)="seleccionarPublicaciones()"
        [ngClass]="{ active: boolPublicaciones }"
        [routerLink]="[
          {
            outlets: {
              primary: ['publicaciones'],
              contenido: ['page-publicaciones']
            }
          }
        ]"
        >Publicaciones</a
      >
    </li>
    <li class="page-item" style="width: 30%">
      <a
        class="page-link"
        (click)="seleccionarPersonas()"
        [ngClass]="{ active: boolPersonas }"
        [routerLink]="[
          {
            outlets: {
              primary: ['personas'],
              contenido: ['page-personas']
            }
          }
        ]"
        >personas</a
      >
    </li>
  </ul>
</nav>
