@if (publicacion) {
<div
  class="vh-100 d-flex align-items-center justify-content-center"
  style="background: linear-gradient(to right, #075cf8, #ce1d61)"
>
  <div class="container" style="background: white; width: 85vw; height: 85vh">
    <h2>Editar Publicacion</h2>
    <form [formGroup]="form" (submit)="submit()">
      <input
        formControlName="titulo"
        class="form form-control"
        type="text"
        placeholder="titulo"
      />
      <div>
        <label class="form-label" for="">sinopsis</label>
        <textarea
          formControlName="sinopsis"
          class="form-control"
          name=""
          id=""
        ></textarea>
      </div>
      <div>
        <label for="">contenido</label>
        <textarea
          formControlName="contenido"
          class="form-control"
          name=""
          id=""
        ></textarea>
      </div>
      <button class="btn btn-primary">editar</button>
    </form>
  </div>
</div>

}
